body{
	background-color: #bae8ab;
	font-family: Helvetica;
}
img{	
	width: 900px;
	height: 558px;
	margin: 0 auto ;

	border: 2px ridge gray;
}
.nav navbar-nav{
	margin: auto;
}






.container{
	margin: auto;
	
	 
}

h1{	text-align: center;

	border: 1px dashed gray;
	box-shadow: 5px 5px 5px  #d85060 ;
}
h4{ width: 210px;
	background-color: gray;
	margin-left: 15px;
}
i{
	margin-left: 15px;
}