body{ background-color: #bae8ab;
      margin: 0 auto;
      cursor: ;

}
h1{text-align: center;
	color: white;
background-color: grey;
height: 80px;
 padding: 0px;
 margin: 0px;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration :underline;
  border-style: double;
  box-shadow: 6px 5px 4px  #bae8ab;
}

 nav{padding-bottom: 0px;
 	margin: 0px;}
	

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    margin-left: 0;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul: {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
.container
 {background-color: gray;
 	margin-top: 10px;
  } 
  p{ margin-top: 15px;
  color:#bae8ab;
  }
  
.videoWrapper {
  /*position: relative;
  padding-bottom: 50%; /* 16:9 
  padding-top: 0px;
  height: 0; */ 
}
.videoWrapper iframe {
  position: absolute;
   
  bottom: 500%;
  left: 150px;
  width: 50%;
  height: 50%;

}


iframe{
  right: 150px; 
  margin-top: 50px;


}