body{ background-image: url(../image/bgimg.jpg);
      margin: 0 auto;
      cursor: ;
      

}

h1
{font-family: "Fenix", serif;
text-align: center;
	color: white;
background-color: grey;
height: 80px;
 padding: 0px;
 margin: 0px;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration :underline;
  border-style: double;
  word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;

  }

 nav{padding-bottom: 0px;
 	margin: 0px; }
	

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    margin-left: 0;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul: {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
.container
 {background-color: gray;
 	margin-top: 10px;
  } 
  p{ margin-top: 15px;
  color:white;
  }
 
 img{ 
  height: 300px; 
  width: 500px;

 } 



iframe{
  right: 150px; 
  margin-top: 50px;


<<<<<<< HEAD
}

img{ height: 300px;
      width: 500px; 
      margin: 0;
      }

||||||| merged common ancestors
}
=======
}

video{
  
  right: 150px; 
  margin-top: 50px;

}
>>>>>>> e781846c67151ef2bff003673d875b3cf730375b
