body{
	background-image: url(../image/bgimg.jpg);
	font-family: Helvetica;
}
img{	
	width: 900px;
	height: 558px;
	margin: 0 auto ;

	border: 2px ridge gray;
}
.nav navbar-nav{
	margin: auto;
}






.container{
	margin: auto;
	
	 
}

h1{	text-align: center;
;
}
h4{ width: 210px;
	background-color: gray;
	margin-left: 15px;
}
i{
	margin-left: 15px;
}
p{font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;}